/**Top menu**/
#navi {
  background: url(images/nav.jpg) repeat-x 0 0;
  background-color: #141411;
  height: 34px;
}	
#navi ul {
	margin: 0 1.2%;
    text-align: center;
    z-index: 99;
    font-size: 0;
    display: table;
    width: 97.6%;
}
#navi li {
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    display: table-cell;
    line-height: 34px;
    z-index: 10;
    position: relative;
}
#navi>ul>li>a {
    text-transform: uppercase;
}	
#navi li.opt {
  background: url(images/nav-active.jpg) repeat-x 0 0;
  background-color: #f6f6f6;
}		
#navi li a {
	padding: 0 3.3rem;
    color: #fff;
    display: block;
    text-decoration: none;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
}	
#navi li a:hover {
	background: url(images/arrow.png) no-repeat 50% 100%;
	background-color: #f6f6f6;
	color: #d21112;
} 
  
#navi ul.inner_ul {
    position: absolute;
    min-width: 121px;
    background-color: white;
    border: 1px solid black;
    margin-left: 0px !important;
    display: none;
    z-index: 100;
    left: 0;
    top: 100%;
    width: 98%;
}

.inner_ul li {
    text-align: left !important;
    display: list-item !important;
    margin: 0px !important;
}
.inner_ul_a {
    line-height: 22px;
    padding: 0 10px !important;
    color: black !important;
}
#navi ul .inner_ul_a:hover {
    background: #f6f6f6 !important;
    text-decoration: underline;
    color: #d21112 !important;
}
#navi li.select_inner_li a {
    background: #f6f6f6;
    color: #db4a4a !important;
}
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:11px;
	float:left;
	/*font-size:90%*/
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#fc8d3d;
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}