.news {
  background: #f6f6f6;
  padding: 3.5rem 0;
  border-top: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  font-size: 0;
}
.news-item.first {
  margin-right: 4%;
}
.news-item {
  width: 48%;
  display: inline-block;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 1.4rem;
  overflow: hidden;
}
.news-item h3 {
  color: #141411;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}
.news-item h3 a {
  color: #141411;
  text-decoration: none;
  
}
.news-item p {
  font-size: 12px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  margin-bottom: 1.5rem;
}
.news-image {
  width: 155px;
  float: left;
}
.news-image a {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.news-description {
  margin-left: 178px;
}
.date {
  color: #969696;
  font-size: 12px;  
  margin-bottom: 1rem;
}
.more{
  font-size: 12px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  text-decoration: none;
}
.title-section {
  color: #141411;
  font-size: 2.4rem;
  font-family: 'proxima_nova_rgregular', sans-serif;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.button-section {
  overflow: hidden;
  margin-top: 3rem;
  text-align: center;
}
.see-all {
  color: #141411;
  font-size: 12px;
  font-family: 'proxima_nova_rgregular', sans-serif;
  line-height: 32px;
  padding: 0 2.2rem;
  border: 1px solid #131311;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: border-color 0.3s;
  min-width: 125px;
  box-sizing: border-box;
}
.see-all:hover {
  border-color: #979797;
}
.see-all:after,
.see-all:before {
  left: 125%;
  top: 50%;
  position: absolute;
  content: "";
  background: #141411;
  height: 1px;
  width: 1000px;
}
.see-all:before {
  left: auto;
  right: 125%;
}
.description {
  padding: 3.5rem 0;
}
.description p {
  font-size: 1.3rem;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  margin-bottom: 1.5rem;
  line-height: 2.2rem;
}