/*curousel */
.carousel {
  width: 70%;
  float: left;
  height: 650px;
}
.right-side {
  height: 650px;
  margin-left: 70%;
}
.image {
  height: 50%;
  display: block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}
.image-title {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255, 0.5);
  padding: 1rem;
  font-family: 'proxima_nova_rgregular';
  font-size: 2.4rem;
  color: #141411;
  box-sizing: border-box;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.image:hover .image-title{
  -webkit-transform: translate(0,-10px);
  transform: translate(0,-10px);
}
.image-title span{
  display: block;
  color: #969696;
  font-size: 12px;
  margin-top: 1rem;
}
.sale-home {
  height: 50%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.carousel {
  position: relative;
}
.carousel .slides,
.carousel .slides li {
  height: 100%;
}
.carousel .slides li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.carousel:hover .flex-direction-nav li a {
  opacity: 1;
}
.carousel .flex-direction-nav {
  list-style-type: none;
}
.carousel .flex-direction-nav li a {
  width: 42px;
  height: 42px;
  background: url(images/next.png) no-repeat 0 0;
  top: 50%;
  margin-top: -21px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  text-indent: 999px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.carousel .flex-direction-nav li a.flex-prev {
  background-position: 0 0;
  left: 20px;
}
.carousel .flex-direction-nav li a.flex-next {
  background-position: right 0;
  right: 20px;
}