#navi {
  background: url(images/nav.jpg) repeat-x 0 0;
  background-color: #141411;
  height: 34px;
}	
#navi ul {
  text-align: center;
}
#navi li {
  font-family: 'proxima_nova_rgregular';
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 34px;
  margin: 0 0.5rem;
  
}	
#navi li.opt {
  background: url(images/nav-active.jpg) repeat-x 0 0;
  background-color: #d31113;
}		
#navi li a {
  padding: 0 3rem;
  color: #fff;
  display: block;
  text-decoration: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}	
#navi li a:hover {
  background: #f6f6f6; 
  color: #d21112;
}   
