.blog-add-comment .bx_bt_button {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    box-sizing: border-box;
    font-family: 'proxima_nova_rgregular', sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.5s;
    color: #fff;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);
    background: -moz-linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);
    background: -ms-linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);
    background: linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);
}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button {
    width: 200px;
    height: 27px;
    line-height: 27px;
}